.intro__paragraph{
    max-width: 683px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 3px;
  
  }
  @media screen and (max-width: 768px){
    .intro__paragraph{
     width: 100%;
   }
  }
  @media screen and (max-width: 375px){
    .intro__paragraph{
      font-size: 16px;
      line-height: 27px;
      margin-top: 5px;
    }
  }
  @media screen and (max-width: 320px){
    .intro__paragraph{
     width: 100%;
     margin-top: 4px;
    }
  }
  