.footer__author{
margin-top: 15px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: right;
color: #FFFFFF;
}

@media screen and (max-width: 802px){
    .footer__author{
   font-size: 10px;
    
    }
  }
  @media screen and (max-width: 768px){
    .footer__author{
   margin-top: 7px;
   font-size: 14px;
   line-height: 20px;
    
    }
  }
  @media screen and (max-width: 665px){
    .footer__author{

   font-size: 12px;
   line-height: 16px;
    
    }
  }
  @media screen and (max-width: 572px){
    .footer__author{
    font-size: 7px;
    }
  }
  @media screen and (max-width: 622px){
    .footer__author{
   margin-top: 9px;
   font-size: 10px;
    
    }
  }
@media screen and (max-width: 375px){
  .footer__author{
    font-size: 14px;
    line-height: 20px;
   
    }
}