@import url('./__brief/intro__brief.css');
@import url('./__paragraph/intro__paragraph.css');
@import url('./__span-accent/intro__span-accent.css');

.intro__content-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
